{{#each posts as |post|}}
  <div class="card column m-2">
    <header class="card-header">
      <p class="card-header-title">
        {{post.business.name}}
        -
        {{post.business.category.name}}
      </p>
      <p class="card-header-title is-justify-content-flex-end">Created By
        {{post.user.name}}
        at
        {{format_date post.createdAt}}
      </p>

    </header>
    <div class="card-content">
      <div class="content">
        <p class="card-header-title p-0">{{post.title}}</p>
        <p>{{post.description}}</p>
        {{#if post.image1}}
          <img
            src="{{post.image1}}"
            class="card-img-top"
            alt="{{post.title}}"
          />
        {{/if}}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Like {{post.like_count}}</a>
      <a href="#" class="card-footer-item">Dislikes
        {{post.dislike_count}}</a>

    </footer>
  </div>
{{/each}}