{{! below needs to be always kept as dropdown option for category }}
<form class="box" id="post-form">

  <div class="level">
  
    <div class="level-left">

      <div class="block">

      <div class="block"> 
       <div class="select is-danger is-large">
         <select class="is-focused is-3" name="category" id="category-select">
          <option value="">Select a Category</option>
          {{#each categories as |category|}}
          <option value="{{category.id}}">{{category.name}}</option>
          {{/each}}
         </select>
       </div>
      </div> 

      <div class="block">  
        <div class="select is-danger is-large">
        <select name="business" id="business-select">
         <option value="">Select a Business</option>
         {{#each businesses as |business|}}
         <option value="{{business.id}}">{{business.name}}</option>
         {{/each}}
        </select>
        </div>
      </div> 

      <div class="block">   
       <a class="button is-danger is-large" href="/newBusiness"> + Add New Business</a>
      </div>

      <div class="block">   
       <h1> </h1>
      </div>

      <div class="block">   
       <h1 class="title is-1 is-black"> </h1>
      </div>

      <div class="block">   
       <h1 class="title is-3 tag is-black">Vent Here:</h1>
      </div>

     </div>  

  </div>

  {{! placeholder for rendering google map, dont remove it }}
  <div class="level-right">
      <div class="box">
        <div style="width:300px;height:300px" id="map"></div>
      </div>
  </div>

<!--
    <div class="level-left">

      <div class="select is-danger mr-4">
        <select class="is-focused" name="category" id="category-select">
          <option value="">Select a Category</option>
          {{#each categories as |category|}}
            <option value="{{category.id}}">{{category.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="select is-danger mr-4">
        <select name="business" id="business-select">
          <option value="">Select a Business</option>
          {{#each businesses as |business|}}
            <option value="{{business.id}}">{{business.name}}</option>
          {{/each}}
        </select>
      </div>

      <a class="button is-danger" href="/newBusiness">Add New Business</a>
-->

    </div>

    {{! placeholder for rendering google map, dont remove it }}
    <div class="level-right">

      <div style="width:300px;height:300px" id="map"></div>

    </div>

  </div>

  <div class="field is-large">
    <label for="title" class="form-label">Title</label>
    <div class="control">
      <input
        id="title"
        name="title"
        class="input"
        type="text"
        placeholder="Title"
      />
    </div>
  </div>

  <div class="field">
    <label for="description" class="form-label">Description</label>
    <div class="control">
      <textarea
        id="description"
        name="description"
        class="textarea"
        type="text"
        placeholder="Your post here"
      ></textarea>
    </div>
  </div>

  <div class="mb-3">
    <label for="file" class="form-label button is-danger">Add an Image</label>
    <input
      class="form-control visibility-hidden"
      type="file"
      id="file"
      name="file"
    />
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>
</form>

<script src="/js/post.js"></script>
{{! google map scripts }}
<script
  src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initMap&v=weekly"
  defer
></script>